
body{
  position: relative;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.20rem;
  /* letter-spacing: 0.15rem; */
}

hr {
  width: 86%;
  border-top: 1.5px solid rgba(0,0,0,.1);
}

section {
  margin-bottom: 5rem;
}

section .section-title{
  margin-top: 2rem; 
  margin-bottom: 3rem;
}
/* navbar */
#app-header .add-on{
  /* border-bottom: 1px solid black; */
  position: relative;
}
#app-header .lnr-magnifier{
  font-size: 1.5rem;
}

#app-header .add-on .hdn {
  width: 0 !important;
}

#app-header .add-on .search-container{
  width: 280px;
  right: 40px;
  position: absolute;
  overflow: hidden;
  transition: all .3s step-end;
  border-bottom: 1px solid black;
}

#app-header .add-on .search-container .cross-button{
  font-size: 1.5rem;
  width: 15px;
  padding: 0;
  border: 0;
  /* transition: all 1s step-end; */
}

#app-header .add-on .search-container.hdn .cross-button{
  display: none;
  width: 0px;
  opacity: 0;
}

#app-header .add-on input, #app-header .add-on input:focus{
  border: none;
  border-radius: 0;
  outline: none;
  background-color: transparent;
  width: 250px;
  height: 40px;
}

#app-header .add-on .btn{
  background-color: transparent;
}
/* menu bar */
#menuToggle a{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
  margin-top: 2.5rem;
}

menuToggle a:hover{
  color: tomato;
}

#menuToggle{
  display: block;
  position: relative;
  /* top: 50px;
  left: 50px;  */
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle label{
  display: block;
  margin-bottom: 0;
  position: relative;
  width: 40px;
  height: 30px;
}

#menuToggle input{
  display: block;
  width: 40px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 100; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Just a quick hamburger*/
 #menuToggle span{
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background:black;
   border-radius: 3px;
   
   z-index: 50;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
 }
 
 #menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
/* Transform all the slices of hamburger into a crossmark.*/
 #menuToggle input:checked ~ span{
   opacity: 1;
   transform: translate(0, 20px) rotate(-45deg) translate(0px, 0px);
   background: #232323;
 }
 
 /*But let's hide the middle one.*/
 #menuToggle input:checked ~ span:nth-last-child(3){
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*last one should go the other direction*/
 #menuToggle input:checked ~ span:nth-last-child(2){
   transform: translate(0, -20px) rotate(45deg) translate(0px, 0px);
 }

 #menu{
  position: fixed;
  right: 0;
  width: 300px;
  margin: -44px -15px 0 0px;
  min-height: 100%;
  padding: 50px;
  z-index: 20;
  
  background: rgba(200, 200, 200, 0.7);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0%);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
  padding: 10px 0;
  font-size: 22px;
}

/* let's slide it in from the left*/
#menuToggle input:checked ~ ul{
  transform: none;
}
#menuToggle .dropdown-item.active{
  background-color: #f8f9fa;
}

/* header */
header h1 {
  margin: 40px 0px 80px 0px;
  letter-spacing: 4px;
}

/* carousel */
#display-img .carousel .carousel-indicators{
  position: absolute;
  z-index: 0;
  right: 15px;
  bottom: 0;
  margin-bottom: 2.125rem;
  justify-content: flex-end;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#display-img .carousel .carousel-indicators li{
  background-color: rgba(0, 0, 0, 0.5) !important;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  margin: 6px; 
}

#display-img .carousel .carousel-indicators li.active{
  background-color: rgba(255, 255, 255, 0.5) !important;
  border: 1px solid rgba(0, 0, 0, 0.5)
}

#display-img .carousel .carousel-caption {
  position: relative;
  left: 0;
  bottom: 0;
  color: black;
  text-align: left;
  padding-bottom: 0;
}
#display-img .carousel .carousel-caption a{
  color: black;
  text-decoration: none;
}
/* custom carousal css */
.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 1s;
  transition-property: opacity;
 }
 
 .carousel-fade  .carousel-item.active,
 .carousel-fade  .carousel-item-next.carousel-item-left,
 .carousel-fade  .carousel-item-prev.carousel-item-right {
   opacity: 1;
 }
 
 .carousel-fade .active.carousel-item-left,
 .carousel-fade  .active.carousel-item-right {
  opacity: 0;
 }
 
 .carousel-fade  .carousel-item-next,
 .carousel-fade .carousel-item-prev,
 .carousel-fade .carousel-item.active,
 .carousel-fade .active.carousel-item-left,
 .carousel-fade  .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
 }

/* events */
#events a {
  color: black;
}
#events .event-img{
  margin-bottom: 2rem;
}
#events .event-title h5{
  font-weight: bolder;
}
#events .event-date{
 margin-bottom: 1.3rem; 
}

/* channel */
#channel a {
  color: black;
}
#channel .video-details{
  margin-top: 1.3rem;
}

 /* artist */
#artists .artistName {
  margin-bottom: 6px;
}
#artists a {
  color:black;
}

/* contact */
.contact-links a {
  margin-right: 30px;
  color: black;
}

/* footer */
 footer {
  background-color: #3f3d3d;  
  min-height: 60px;
  line-height: 3.6rem;
}
footer .footer-text{
  color: #bdb1b1;
}
footer .footer-menu a.footer-item {
color:white !important;
/* margin-left: 3rem; */
}